body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  text-align-last: center;
}

/* NavBar component */

a {
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .margin-header {
    margin-bottom: 15px;
  }
}

.header-row {
  background-color: white;
}

h1 {
  text-align: center;
  color: #165b8d;
}

.navbar {
  height: 100%;
}

.navbar-brand {
  height: 100%;
}

.logo {
  height: auto;
  max-width: 100%;
}

.nav-icon {
  width: 100%;
  font-size: 40px;
  color: black;
}

.nav-text {
  text-align: center;
  font-weight: bold;
  color: black;
}

.group-nav {
  width: 20%;
  margin-right: 5%;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

/* Auth component */
/* STRUCTURE */

.wrapper p {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 15px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.select {
  margin: 10px;
}

.inputTextAuth {
  width: 85%;
  margin: 15px;
}

input[type="text"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder {
  color: #cccccc;
}
/* BonLivraison component */

.div-filtre {
  width: 80%;
  display: inline-block;
}

.filtre {
  border: solid 1px black;
}

/* HistoriqueBL component */

.historique-bl {
  border: 0.25vh solid black;
  min-height: 75vh;
  margin: 2.2vh 2.5%;
  border-radius: 15px;
  width: 25%;
  background-color: #fff;
  display: inline-block;
}

.texte-historique {
  margin: 10%;
  padding: 15px;
}

.header-historique {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.dropdown {
  display: inline-block;
}
.historique-checkbox {
  display: inline-block;
  margin-top: 5px;
}

#dropdown-basic-button {
  background-color: #165b8d;
  border-color: black;
  display: inline;
}

.arrow-list {
  font-size: 25px;
}

.title-list {
  font-weight: 800;
}

.title-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.list-historique {
  font-weight: 700;
}

.num-carnet {
  color: #1b73b1;
}
.num-bl {
  color: #73ab7f;
}

.date-BL {
  color: #ff4a47;
}

.nom-client {
  color: #8f3c00;
}

.valide-check {
  font-size: 18px;
  margin-bottom: 4px;
  margin-right: 4px;
}
.valide-check:hover {
  cursor: pointer;
}

.link-modif {
  color: #0056b3;
  font-weight: bold;
}

.link-modif:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title-users {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 25px;
}

/* NouveauBL component */

.nouveau-bl {
  border: 0.25vh solid black;
  margin: 2.2vh 2.5% 2.2vh 0;
  border-radius: 15px;
  width: 67.5%;
  background-color: #fff;
  height: 75vh;
  float: right;
}

.nouveau-bl-child {
  margin: 5% 20%;
}

.form-new-bl {
  margin-top: 50px;
}

.button-create-bl {
  margin-top: 20px;
  width: 40%;
}

label {
  font-weight: bold;
  text-align: center;
}

.link-back-to-new {
  position: relative;
  top: 25px;
  left: 45px;
  color: #0056b3;
  font-weight: bold;
}

.link-back-to-new:hover {
  text-decoration: underline;
  cursor: pointer;
}

.arrow-back-to-new-bl {
  font-size: 35px;
}

/* Footer component */

footer {
  height: 10vh;
  width: 100%;
}

.footer-navbar {
  height: 100%;
  font-style: italic;
  font-size: medium;
}
